---
import Social from "./Social.astro";
const ghUrl = "https://github.com/zhangkai803"
---

<footer>
    <!-- <p>Learn more about my projecets on <a href={ghUrl}>Github</a>!</p> -->
    <Social username="zhangkai803" platform="github"/>
</footer>
