---
import Hamburger from "./hamburger.astro";
import ThemeIcon from "./ThemeIcon.astro";
import Navigation from "./navigation.astro";
---
<header>
    <nav>
        <Hamburger />
        <ThemeIcon />
        <Navigation />
    </nav>
</header>
