---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('Nov 23 2022')}
	updatedDate={new Date('Mar 25 2024')}
	heroImage="/placeholder-about.jpg"
>
	<h2>我</h2>
	<p>开源拥护者，喜欢 Linux 但是平时用 OSX，陷于颜值，在 Linux + wine 环境下很多软件的体验没有达到我能接受的程度</p>
	<p>最喜欢的发行版是 Arch，yay 永远滴神</p>
	<p>好奇心较强，各种技术都想试一试，有点广撒网</p>
	<p>曾经的 DDD 推行者，现在对于系统设计我更看重可读性与是否优雅</p>
	<h2>技术栈</h2>
	<h4>工作语言</h4>
	<ul>
		<li>
			<p>Python</p>
			第一语言，5 年经验，遇到问题看文档应该都能写，web 后端方向，喜欢简单直观的逻辑
		</li>
		<li>
			<p>Go</p>
			1 年多使用经验，写过几个公司项目，平时自己写一些小工具，代码量不到 1w 行
		</li>
		<li>
			<p>Node</p>
			维护公司老项目
		</li>
	</ul>
	<h4>其他语言</h4>
	<ul>
		<li>
			<p>Rust</p>
			在看这本书 <a href="https://doc.rust-lang.org/book/">https://doc.rust-lang.org/book/</a>，给 <a href="https://github.com/salvo-rs/salvo">salvo</a> 做一些贡献（enhancement/tests/docs），用 <a href="https://github.com/iced-rs/iced">iced</a> 写桌面工具
		</li>
		<li>
			<p>ASM</p>
			看操作系统相关内容时试了一下，跟着书用 bochs 敲到 load kernel，用的 Intel 语法，后来看 linux0.11 源码时却是 AT&T :)
		</li>
		<li>
			<p>C/C++</p>
			一般是看算法题解，间歇性刷题，记不住，其他就是玩 Qt 的时候用到，想给自己写的一个日志工具套一层 GUI
		</li>
		<li>
			<p>Swift</p>
			跟教程玩了一阵，坐高铁时在 iPad 上玩 Swift Playground，挺有意思的推荐有经验的也去玩一下
		</li>
		<li>
			<p>C#</p>
			程序员的游戏梦吧，2020MBP 13.3" 带不起 Unreal，就装了个 Unity Hub，偶尔魔改一下小游戏玩
		</li>
		<li>
			<p>.Net</p>
			把环境装上试了一试，听闻是以性能为目标转型，在 web 方面很出色
		</li>
		<li>
			<p>GDScript</p>
			玩 godot4 体验还是比较好的，写了一个 2D 的 demo 和一个桌面悬浮小工具用来监控 CPU 占用，上手非常快比 unity 概念少很多
		</li>
	</ul>
	<h2>工作经历</h2>
	<p>在教育行业，一家小公司。工作了很久，没有跳过槽。</p>
	<h2>教育经历</h2>
	<p>本科</p>
	<h2>Github Overview</h2>
	<img src="https://raw.githubusercontent.com/zhangkai803/github-stats/master/generated/overview.svg#gh-light-mode-only">
	<img src="https://raw.githubusercontent.com/zhangkai803/github-stats/master/generated/languages.svg#gh-light-mode-only">
</Layout>
