---
import { formatList } from "astro/dist/runtime/server/render/util";
import BlogPost from "../compoments/BlogPost.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const allPost = await Astro.glob("./posts/*.md")
const pageTitle = "Blogs";
---
<BaseLayout pageTitle={pageTitle}>
    <h2>My Blogs</h2>
    <p>This is where I will post about my journey learning Astro.</p>
    <ul>
        {allPost.map(post => <BlogPost url={post.url} title={post.frontmatter.title}></BlogPost>)}
    </ul>
</BaseLayout>
