---
import BlogPost from "../compoments/BlogPost.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const allPost = await Astro.glob("./posts/*.md")
const pageTitle = "文章目录";
---
<BaseLayout pageTitle={pageTitle}>
    <p>暂时不考虑分页或分组，有个教程自带的标签功能足够了，先好好维护标签</p>
    <ul>
        {allPost.map(post => <BlogPost url={post.url} title={"[" + post.frontmatter.pubDate + "] " + post.frontmatter.title}></BlogPost>)}
    </ul>
</BaseLayout>
