---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../compoments/Greeting.jsx";
const pageTitle = "张凯个人网站";
---
<BaseLayout pageTitle={pageTitle}>
	<h2>Build with astro.</h2>
	<p>这是一个跟着 astro 官方教程搭建的一个 个人博客网站，部署在 github page。因为都是静态页面所以有缓存问题，访问到被删页面的话会 404。</p>
	<p>界面有点拉胯，样式是教程带的，CSS 代码我估计只写过一百行吧。但估计不会花太多心思画，不喜欢花里胡哨的东西，虽然颜值即生产力，但是做后端的，没有什么设计经验，本身审美水平也较差。可能考虑加个壁纸吧，应该会好看很多。</p>
	<p>文章的话，比较懒，随缘更新，之前买过几次服务器和域名都浪费了，比较喜欢本地玩，部署这个就只需要考虑写内容和推代码，部署也有 github action，时间长了应该能够存点东西。</p>
	<p>规划就是写点技术文章再加一些个人简介，慢慢整理应该可以当作简历来用。</p>
	<br>
	<p>老实讲想用 react，可以集成的一些 UI 框架，自带的样式做出来应该就会很好看，比如 antd、material，也可以积攒一些写 TS 的经验，但是一步一个报错是真劝退啊。</p>
	<p>想试试看能不能把 UI 框架直接集成到 astro 里，但感觉不一定行，astro 运行 js 脚本的方式有点特别。</p>
	<br>
	<p>放一些网页小游戏好像也不错。</p>
	<Greeting client:load messages={["Hi", "Hello", "Howdy", "Hey there"]} />
</BaseLayout>
